
@mixin util-button($image-name, $image-size:25px, $button-size:30px) {
  height: $button-size;
  width: $button-size;
  @include border-radius(3px);
  margin: 4px 8px;
  background-image: image-url($image-name);
  background-repeat: no-repeat;
  background-size: $image-size $image-size;
  background-position: center center;

  &:hover {
    background-color: $util-bg-active-color;
  }
}


#util {
  background-color: $util-bg-color;
  width: 100%;
  height: 38px;

  .util-active {
    background-color: $util-bg-active-color;
  }

  #peer-util {
    float: left;

    #peer-state {
      float: left;
      margin-right: 10px;
      
      #user-list {
        position: relative;
        float: left;
        height: 38px;
        width: 38px;
        background-image: image-url("users.png");
        background-repeat: no-repeat;
        background-size: 25px 25px;
        background-position: center center;

        ul {
          margin: 0;
          padding: 0;
          position: absolute;
          top: 100%;
          left: 0;

          li {
            cursor: default;
            background-color: $util-bg-active-color;
            line-height: 28px;
            overflow: hidden;
            height: 0px;
            @include transition(height 0.1s linear 0s);
            
            .user {
              display: block;
              background-color: $util-bg-active-color;
              padding: 0px 10px;
              // color: white;
            }
          }
        }

        &:hover {
          background-color: $util-bg-active-color;

          ul {
            z-index: 1;
            li {
              overflow: visible;
              height: 28px;
            }
          }
        }

      }
    }

    #my-setting {
      float: left;
    }
  }

  #wb-util {
    float: right;
    overflow: hidden;
    width: 500px;

    #wb-util-text-color {
      float: left;
      overflow: hidden;
      margin-right: 30px;

      @each $color in "black","red","blue","green" {
        #wb-util-text-color-#{$color} {
          float: left;
          @include util-button("#{$color}.png");
        }
      }

    }
    
    #wb-util-text-fontsize {
      float: left;
      overflow: hidden;
     
      #wb-util-text-fontsize-s {
        @include util-button("black.png", 15px);
      }

      #wb-util-text-fontsize-m {
        @include util-button("black.png", 20px);
      }

      #wb-util-text-fontsize-l {
        @include util-button("black.png");
      }

      #wb-util-text-fontsize-s,
      #wb-util-text-fontsize-m,
      #wb-util-text-fontsize-l {
        float: left;
      }
    }

    #wb-util-clear {
      float: right;
      @include util-button("clear.png");
      margin-right: 20px;
    }
  }
}
