@mixin util-button($image-name, $image-size:25px, $button-size:30px) {
  height: $button-size;
  width: $button-size;
  @include border-radius(3px);
  margin: 4px 8px;
  background: image-url($image-name) no-repeat;
  background-size: $image-size $image-size;
  background-position: center center;

  &:hover {
    background-color: #c8c8c8;
  }
}

#util {
  background-color: #f2f2f2;
  width: 100%;
  overflow: hidden;

  #wb-util {
    float: right;
    width: 500px;

    #wb-util-color {
      float: left;
      overflow: hidden;
      margin-right: 30px;

      @each $color in "black","red","blue","green" {
        #wb-color-#{$color} {
          float: left;
          @include util-button("#{$color}.png");
        }
      }

    }
    
    #wb-util-fontsize {
      float: left;
      overflow: hidden;
     
      #wb-fontsize-s {
        @include util-button("black.png", 15px);
      }

      #wb-fontsize-m {
        @include util-button("black.png", 20px);
      }

      #wb-fontsize-l {
        @include util-button("black.png");
      }

      #wb-fontsize-s,
      #wb-fontsize-m,
      #wb-fontsize-l {
        float: left;
      }
    }

    #wb-alldelete {
      float: right;
      @include util-button("alldelete.png");
      margin-right: 20px;
    }
  }
}
