.wb-text {
  border-width: 0px;
  border-style: None;
  overflow: visible;
  outline: none;
  position: absolute;
  background-color: transparent;
  font-family: "ＭＳＰゴシック",sans-serif;

  &.ruler {
    visibility: hidden;
    position: absolute;
    white-space: nowrap;
  }

  &.fontsize-s {
    font-size: 14px;
  }

  &.fontsize-m {
    font-size: 20px;
  }

  &.fontsize-l {
    font-size: 28px;
  }

  &.color-black {
    color: $black;
  }

  &.color-red {
    color: $red;
  }

  &.color-blue {
    color: $blue;
  }

  &.color-green {
    color: $green;
  }
}

