.wb-text {
  border-width: 0px;
  border-style: None;
  overflow: visible;
  outline: none;
  position: absolute;
  background-color: transparent;
  font-family: "ＭＳＰゴシック",sans-serif;

  &.fontsize-s {
    font-size: 1.0rem;
  }

  &.fontsize-m {
    font-size: 1.2rem;
  }

  &.fontsize-l {
    font-size: 1.4rem;
  }

  &.color-black {
    color: $black;
  }

  &.color-red {
    color: $red;
  }

  &.color-blue {
    color: $blue;
  }

  &.color-green {
    color: $green;
  }
}

