@import "compass";

html,body { 
  height:100%;
  margin: 0px;
}

#wb-container {
  width: 100%;
  height: 100%;

  #white-board {
    width: 100%;
    height: 100%;
    position: relative;

    .ruler-object,
    .wb-object {

      #ruler {
        visibility: hidden;
        position: absolute;
        white-space: nowrap;
      }

      .wb-text {
        border-width: 0px;
        border-style: None;
        overflow: visible;
        outline: none;
        position: absolute;
        background-color: transparent;
        font-size: 1.1rem;
        font-family: "ＭＳＰゴシック",sans-serif;
      }
    }
  }
}
