<div id="util">
  <div id="peer-util">
    <div id="peer-state">
      <div id="user-list">
        <ul>
          <% _(peerModels).each(function(model) { %>
            <% if (myPeerID !== model.id) { %>
              <li>
                <span class="user"><%= model.get('name') %></span>
              </li>
            <% } %>
          <% }); %>
        </ul>
      </div>
    </div>
    <div id="my-setting">
      <input type="text" />
    </div>
  </div>
  <div id="wb-util">
    <div id="wb-util-text-color">
      <div id="wb-util-text-color-black"></div>
      <div id="wb-util-text-color-red"></div>
      <div id="wb-util-text-color-blue"></div>
      <div id="wb-util-text-color-green"></div>
    </div>
    <div id="wb-util-text-fontsize">
      <div id="wb-util-text-fontsize-s"></div>
      <div id="wb-util-text-fontsize-m"></div>
      <div id="wb-util-text-fontsize-l"></div>
    </div>
    <div id="wb-util-clear"></div>
  </div>
</div>
